

* {
    Margin:0;
    padding:0;
 }


/* Setting General */

body {

  
   display: flex;
    height: 100vh;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
   
    background-size:cover ;
    background-repeat: no-repeat;
    position: center;
    min-height: 100vh; 
    
    background-image: url("../multimedia/palacio_salvo.png");
    
    
    }

  
  

    
    header {
    height: 20vh;
    
    }
    

     main{
    height:75vh ;
    width:100vw;
   
    display: flex;
    flex-direction: row;
    
    
    
    
     }
    
     footer{
    height: 5vh;
    display:flex;
    align-items: center;
    justify-content: center;
  
   
    
     }
    
    
     nav {
    width: 15vw;
    background-color: azure;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(22, 11, 146);
    opacity: 0.75;
    border-radius: 25px;
    margin-right: 15px;
     }
     
     nav:hover{
     opacity: 1.0;

     }
    
     .navmenu{
      height: 80vh;
      display:flex;
      flex-direction: column;
      padding:5px;
      list-style: none;
      
     }
     
     .limenu{
      padding-bottom: 3ex;


     }

     section {
    display: flex;
   flex-direction: column;
    width: 65vw;
    padding: 5px;
  
    align-items:self-start;
   justify-content: space-around;
   color: rgb(22, 11, 146);
   font-weight: bolder;
   font-size: x-large;
   background-color:aliceblue;
   opacity: 0.75;
   border-radius: 25px;
   margin-right: 15px;

     }

     section:hover{
    opacity: 1.0;
     }

     #SearchButton{
     
      color: rgb(22, 11, 146);
      display: flex; 
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: x-large;
      background-color: azure;
      border-radius: 15px;
      }
     
    
     aside{
     width: 20vw;
     margin: auto;
    overflow: hidden;  
     }
  
   /* Carrusel */

   .titulo-aside{

   color: rgb(211, 40, 60);
   font-size: xx-large;

   }
   
   .galeria{

      padding:16px,

      }

   
      
      .lista-imagenes img {
      
      width:100%;
      object-fit: cover;
      display:block;
      padding: 5px;
      border-radius: 25px;
      
      }
      
      .lista-imagenes {
      
      display: flex;
      overflow-y:auto;
      
      
      }

     .nombre-ciudad{
     color: rgb(22, 11, 146);
     font-size:xx-large;
   
     flex-wrap:wrap;

     }

     .cities{
      writing-mode: vertical-rl;
      text-orientation: upright;


     }

 /* Home page */
  

/* Reset password page */

.headerpwd {
    height: 20vh;
 

 }

.mainpwd{
height:70vh;
display: flex;
flex-direction: row;



}

.footerpwd{
height: 10vh;
display: flex;

}

#resetpwd {
font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(22, 11, 146);
border-radius: 20px;
}

#checkemail{
color: rgb(22, 11, 146);
border-radius: 20px;
background-color: lightgrey;
}



#backtologinpage{
  display: flex; 
  align-items: center;
  justify-content: center;
  text-align: left;
  color: rgb(22, 11, 146);
  font-weight: bolder;
  font-size: x-large;
  background-color: azure;
  border-radius: 20px;


  }
  

/* End Reset password page */


/* Login page (index.html)  */

#fieldsetLogin{
  
    text-align: left;
    color: rgb(22, 11, 146);
    font-weight: bolder;
    font-size: x-large;
    background-color: azure;
    border-radius: 25px;
  
  }
  
  #loginTitle {
  
  text-align: center;
  
  
  }
  
  
  #loginButton {
  
    
    text-align: center;
       color: rgb(22, 11, 146) ;
      font-weight:  bold;
      font-size: x-large;
      border-radius: 15px;
  
    
   }  

 
  
    .login1 {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:center;
    border-radius: 20px;
    
      
  
    }
  
  .loginpage {
  
  display:flex;
  
  }
  
  .login1{
  
  margin:auto
  
  }
  
  
  #forgottenPasswordId {
  
  
   display: flex; 
    align-items: center;
    justify-content: center;
    text-align: left;
    color: rgb(22, 11, 146);
    font-weight: bolder;
    font-size: x-large;
    background-color: azure;
    border-radius: 20px;
  
  }
  
  /* final login page */

  /* tutorial page */


 .sectiontutorials{
  display: flex;
  flex-direction: row;
    width: 65%;
    padding: 5px;
  
   align-items:self-start;
   justify-content: space-around;
   color: rgb(22, 11, 146);
   font-weight: bolder;
   font-size: x-large;
   background-color:aliceblue;
   opacity: 0.75;
   border-radius: 25px; 


}




.tutorialelements{
display:flex;
flex-direction:row;
height:80%;
width:80%;
padding:15px;
align-items: stretch;
justify-content: space-around;


}

 .tutorialvideo{
  width:40%;
  height:40%;
  /* padding:25px; */
}

.tutorialpdf{
  width:30%;
  height:30%;
  /* padding:25px; */

} 



a {
text-decoration: none;

}

a:hover{
color: lightslategrey;

}




